<%= render "slider_home" %>


<!-- INFO BAR -->
<section class="info-bar info-bar-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<i class="glyphicon glyphicon-globe"></i>
				<h3>FREE SHIPPING &amp; RETURN</h3>
				<p>Free shipping on all orders over $99.</p>
			</div>

			<div class="col-sm-4">
				<i class="glyphicon glyphicon-usd"></i>
				<h3>MONEY BACK GUARANTEE</h3>
				<p>100% money back guarantee.</p>
			</div>

			<div class="col-sm-4">
				<i class="glyphicon glyphicon-flag"></i>
				<h3>ONLINE SUPPORT 24/7</h3>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
</section>
<!-- /INFO BAR -->

<!-- FEATURED -->
<section>
	<div class="container">
		<h2 class="owl-featured noborder"><strong>FEATURED</strong> PRODUCTS</h2>
		<div class="owl-carousel featured nomargin owl-padding-10" data-plugin-options='{"loop":true,"singleItem": false, "items": "4", "stopOnHover":false, "autoPlay":4000, "autoHeight": false, "navigation": true, "pagination": false}'>
		<%= render "shared/list_products_slider" %>
		</div>
	</div>
</section>
<!-- /FEATURED -->

<!-- NEW PRODUCTS -->
<section>
	<div class="container">
		<div class="heading-title heading-dotted">
			<h2 class="size-20">WOMEN DRESSES</h2>
		</div>
		<%= render "shared/list_products_sm" %>
	</div>
</section>
<!-- NEW PRODUCTS -->

<%= render "brands" %>