<div class="thumbnail text-center">
	<%= image_tag @user.avatar.url, :class => ""%>
	<h2 class="size-18 margin-top-10 margin-bottom-0"><%= @user.fullname %></h2>
	<h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">DEVELOPER</h3>
</div>

<!-- SIDE NAV
<ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
	<li class="list-group-item"><a href="page-profile.html"><i class="fa fa-eye"></i> PROFILE</a></li>
	<li class="list-group-item"><a href="page-profile-projects.html"><i class="fa fa-tasks"></i> PROJECTS</a></li>
	<li class="list-group-item"><a href="page-profile-comments.html"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
	<li class="list-group-item"><a href="page-profile-history.html"><i class="fa fa-history"></i> HISTORY</a></li>
	<li class="list-group-item active"><a href="page-profile-settings.html"><i class="fa fa-gears"></i> SETTINGS</a></li>

	<li class="list-group-item list-toggle">
		<a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1">DROPDOWN EXAMPLE</a>
		<ul id="collapse-1" class="collapse">
			<li><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 1</a></li>
			<li>
				<span class="badge badge-red">New</span>
				<a href="#"><i class="fa fa-angle-right"></i> SUMBENU 2</a>
			</li>
			<li class="active"><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 3</a></li>
			<li><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 4</a></li>
		</ul>
	</li>
</ul>
<!-- /SIDE NAV -->