<%- title "Checkout" %>

<!-- -->
<section>
  <div class="container">

    <!-- CHECKOUT FINAL MESSAGE -->
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Thank you,</h3>

        <p>
          Your order has been placed. In a few moments you will receive an order confirmation email from us.<br />
          If you like, you can explore more <a href="#">smarty products</a>.
        </p>

        <hr />

        <p>
          Thank you very much for choosing us,<br />
          <strong>Smarty Inc.</strong>
        </p>
      </div>
    </div>
    <!-- /CHECKOUT FINAL MESSAGE -->

  </div>
</section>
<!-- / -->
