<!-- CAROUSEL -->
							<div class="owl-carousel buttons-autohide controlls-over margin-bottom-30 radius-4" data-plugin-options='{"singleItem": true, "autoPlay": 6000, "navigation": true, "pagination": true, "transitionStyle":"fade"}'>
								<!-- item -->
								<div>
									<div class="caption-slider-default">
										<div class="display-table">
											<div class="display-table-cell vertical-align-middle">
												<div class="caption-container text-left">
													<h2>SHOP <strong>NOW</strong> &ndash; 50% OFF</h2>
													<p>
														This is a category banner rotator<br />
														for any category of your shop.
													</p>
												</div>
											</div>
										</div>
									</div>

									<img class="img-responsive radius-4" src="http://localhost:3000/assets/demo/shop/banners/top_2.png" width="851" height="335" alt="">
								</div>
								<!-- /item -->

								<!-- item -->
								<div>
									<div class="caption-slider-default">
										<div class="display-table">
											<div class="display-table-cell vertical-align-middle">
												<div class="caption-container text-left">
													<h2>LOREM IPSUM <strong>DOLOR</strong></h2>
													<p>
														Unlimited designs, unlimited combinations <br />
														imagination is the limit!
													</p>
												</div>
											</div>
										</div>
									</div>

									<img class="img-responsive radius-4" src="http://localhost:3000/assets/demo/shop/banners/top_1.png" width="851" height="335" alt="">
								</div>
								<!-- /item -->

							</div>
							<!-- /CAROUSEL -->