<!-- CATEGORIES -->
<div class="side-nav margin-bottom-60">

	<div class="side-nav-head">
		<button class="fa fa-bars"></button>
		<h4>CATEGORIES</h4>
	</div>

	<ul class="list-group list-group-bordered list-group-noicon uppercase">
		<li class="list-group-item active">
			<a class="dropdown-toggle" href="#">WOMEN</a>
			<ul>
				<li><a href="#"><span class="size-11 text-muted pull-right">(123)</span> Shoes &amp; Boots</a></li>
				<li class="active"><a href="#"><span class="size-11 text-muted pull-right">(331)</span> Top &amp; Blouses</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(234)</span> Dresses &amp; Skirts</a></li>
			</ul>
		</li>
		<li class="list-group-item">
			<a class="dropdown-toggle" href="#">MEN</a>
			<ul>
				<li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Accessories</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(67)</span> Shoes &amp; Boots</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(32)</span> Dresses &amp; Skirts</a></li>
				<li class="active"><a href="#"><span class="size-11 text-muted pull-right">(78)</span> Top &amp; Blouses</a></li>
			</ul>
		</li>
		<li class="list-group-item">
			<a class="dropdown-toggle" href="#">JEWELLERY</a>
			<ul>
				<li><a href="#"><span class="size-11 text-muted pull-right">(23)</span> Dresses &amp; Skirts</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(34)</span> Shoes &amp; Boots</a></li>
				<li class="active"><a href="#"><span class="size-11 text-muted pull-right">(21)</span> Top &amp; Blouses</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Accessories</a></li>
			</ul>
		</li>
		<li class="list-group-item">
			<a class="dropdown-toggle" href="#">KIDS</a>
			<ul>
				<li><a href="#"><span class="size-11 text-muted pull-right">(88)</span> Shoes &amp; Boots</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(22)</span> Dresses &amp; Skirts</a></li>
				<li><a href="#"><span class="size-11 text-muted pull-right">(31)</span> Accessories</a></li>
				<li class="active"><a href="#"><span class="size-11 text-muted pull-right">(18)</span> Top &amp; Blouses</a></li>
			</ul>
		</li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(189)</span> ACCESSORIES</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(61)</span> GLASSES</a></li>

	</ul>
</div>
<!-- /CATEGORIES -->


<!-- SIZE --
<div class="margin-bottom-60">
	<h4>SIZE</h4>

	<a class="tag" href="#">
		<span class="txt">S</span>
	</a>
	<a class="tag" href="#">
		<span class="txt bold">M</span>
	</a>
	<a class="tag" href="#">
		<span class="txt">L</span>
	</a>
	<a class="tag" href="#">
		<span class="txt">XL</span>
	</a>
	<a class="tag" href="#">
		<span class="txt">2XL</span>
	</a>
	<a class="tag" href="#">
		<span class="txt">3XL</span>
	</a>

	<hr />

	<div class="clearfix size-12">
		<a class="pull-right glyphicon glyphicon-remove" href="#"></a>
		SELECTED SIZE: <strong>M</strong>
	</div>
</div>
<!-- /SIZE -->


<!-- COLOR --
<div class="margin-bottom-60">
	<h4>COLOR</h4>

	<a class="tag shop-color" href="#" style="background-color:#000000"></a>
	<a class="tag shop-color" href="#" style="background-color:#FFFFFF"></a>
	<a class="tag shop-color" href="#" style="background-color:#C0C0C0"></a>
	<a class="tag shop-color" href="#" style="background-color:#0000E0"></a>
	<a class="tag shop-color" href="#" style="background-color:#800080"></a>
	<a class="tag shop-color" href="#" style="background-color:#FF0000"></a>
	<a class="tag shop-color" href="#" style="background-color:#FF0080"></a>
	<a class="tag shop-color" href="#" style="background-color:#FF6600"></a>
	<a class="tag shop-color" href="#" style="background-color:#E0DCC8"></a>
	<a class="tag shop-color" href="#" style="background-color:#F0E68C"></a>
	<a class="tag shop-color" href="#" style="background-color:#FFFFD0"></a>
	<a class="tag shop-color" href="#" style="background-color:#4B0082"></a>
	<a class="tag shop-color" href="#" style="background-color:#666666"></a>
	<a class="tag shop-color" href="#" style="background-color:#00FF00"></a>
	<a class="tag shop-color" href="#" style="background-color:#36454F"></a>
	<a class="tag shop-color" href="#" style="background-color:#F4A460"></a>
	<a class="tag shop-color" href="#" style="background-color:#0088CC"></a>
	<a class="tag shop-color" href="#" style="background-color:#B38B6D"></a>

	<hr />

	<div class="clearfix size-12">
		<a class="pull-right glyphicon glyphicon-remove" href="#"></a>
		SELECTED COLOR: <strong>Red</strong>
	</div>
</div>
<!-- /COLOR -->

<!-- BRANDS --
<div class="side-nav margin-bottom-60">

	<div class="side-nav-head">
		<button class="fa fa-bars"></button>
		<h4>BRANDS</h4>
	</div>

	<ul class="list-group list-unstyled">
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(21)</span> Armani</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(44)</span> Nike</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(2)</span> Jolidon</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(18)</span> Ralph Lauren</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(87)</span> Lotto</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(32)</span> Fila</a></li>
		<li class="list-group-item"><a href="#"><span class="size-11 text-muted pull-right">(69)</span> Boss</a></li>
	</ul>

</div>
<!-- BRANDS -->

<!-- BANNER ROTATOR --
<div class="owl-carousel buttons-autohide controlls-over margin-bottom-60 text-center" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
	<a href="#">
		<img class="img-responsive" src="http://localhost:3000/assets/demo/shop/banners/off_1.png" width="270" height="350" alt="">
	</a>
	<a href="#">
		<img class="img-responsive" src="http://localhost:3000/assets/demo/shop/banners/off_2.png" width="270" height="350" alt="">
	</a>
</div>
<!-- /BANNER ROTATOR -->


<!-- FEATURED -->
<div class="margin-bottom-60">
	<h2 class="owl-featured">FEATURED</h2>
	<div class="owl-carousel featured" data-plugin-options='{"singleItem": true, "stopOnHover":false, "autoPlay":false, "autoHeight": false, "navigation": true, "pagination": false}'>

		<%= render "sidebar_list" %>

	</div>

</div>
<!-- /FEATURED -->


<!-- HTML BLOCK --
<div class="margin-bottom-60">
	<h4>HTML BLOCK</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus eunit.</p>

	<form action="#" role="form" method="post">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			<input type="email" name="email" class="form-control" placeholder="Enter your Email" required="required">
			<span class="input-group-btn">
				<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-send"></i></button>
			</span>
		</div>
	</form>

</div>
							<!-- /HTML BLOCK -->