<%- title @product.name %>

<!-- -->
<section>
	<div class="container">		
		<div class="row">
			<!-- RIGHT -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<%= render "product_details" %>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3">
				<%= render "sidebar" %>
			</div>
		</div>
	</div>
</section>
<!-- / -->